body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.import {
  padding-bottom: 0.2em;
}
.import input[type="text"] {
  width: 630px;
}

.valid {
  background-color: limegreen;
}
.invalid {
  background-color: red;
}
.imported_square {
  background-color: lightgray;
}

.sudoku {
  border: 4px solid black;
  border-collapse: collapse;
  width: fit-content;
}
.sudoku tr {
  padding: 0;
}
.sudoku td {
  padding: 0;
  border: 1px solid black;
  width: 1em;
}
.sudoku input {
  width: 1em;
  border: 0;
  font-size: 25pt;
  text-align: center;
}
.sudoku .thick_right {
  border-right: 4px solid black !important;
}
.sudoku .thick_bottom {
  border-bottom: 4px solid black;
}
.static {
  font-size: 25pt;
  text-align: center;
  background-color: lightgrey;
}
.sudoku div {
  width: 1em;
}
div {
  font-family: initial;
  font-size: xx-large;
  text-decoration-color: rgb(68, 0, 131);
}
button {
  padding: 10px 25px;
  margin: 25px;
  background-color:darkgray;
  border: none;
  transition: background-color  .20s ease-in;
  break-after: auto;
  
}

button:hover{

    background-color: grey;
    text-shadow : 100px;

}